.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.spacer {
  flex: 1 1 auto;
}

.content-container {
  flex: 1;
  padding: 20px;
  overflow: auto;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.config-message {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
